.Curry-item {
    position: relative;
    width: 600px;
    left: 100px;
    height: 680px;
    display: flex;
    flex-direction: column; 
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px; 
}

.Curry-items{
    display: grid;
    grid-template-columns: repeat(2, 720px);
    row-gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.Curry-upper{
    height: 80px;
    width: 350px;
    position: relative;
    bottom:200px;
    color: black;
    gap: 1px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    left: 140px;
}
.Curry-lower{
    position: relative;
    bottom: 300px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    left: 220px;
    width: 400px;
}
.Ingredients{
    padding-left: 40px;
}


.Methodology{
    padding-left: 40px;
}
.Curry-image{
    position: relative;
    top: 30px;
    width: 200px;
    text-align: center;
}
.Curry-image img{
    border-radius: 20px;
    width: 200px;
    position: relative;
}
.Curry-upper h4{
    width: 600px;
    display: flex;
    margin: 0;
    padding: 0;
}
.Curry-Image{
    position: relative;
    bottom: 120px;
    margin-top:40px;
}
.Curry-Image img{
    width: 60px;
    height: 30px;
    justify-content: flex-end;
}